<!DOCTYPE html>
<html>
    <head>
        <title>FCV</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="js/libs/bootstrap_3.0.3/css/bootstrap.min.css" rel="stylesheet" media="screen">
        {{&head}}
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="../../assets/js/html5shiv.js"></script>
          <script src="../../assets/js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <ul class="nav navbar-nav">
                <li><a href="/index.php?Projekte">Projekte</a></li>
                <li><a href="?Content=Module">Module</a></li>
                <li><a href="?Content=Module">Builds</a></li>
                <li><a href="/index.php?Libarys">Libarys</a></li>
                <li><a href="/index.php?Languages">Languages</a></li>
                <li><a href="/index.php?Wartung">Wartung</a></li>
            </ul>
        </nav>

        <h2>Projekte</h2>
        <div class="add">
            <form method="post">
                <input type="text" name="name" placeholder="Name" />
                <input type="text" name="version" placeholder="version" />
                <input type="text" name="umlPath" placeholder="UML Path" />
                <input type="text" name="buildPath" placeholder="Build Path" />
                <select name="usedLibs" multiple="multiple" size="3">
                    {{#libs}}
                    <option value="{{libId}}">{{name}}</option>
                    {{/libs}}
                </select>
                <input type="submit" value="Add" name="addProj" />
            </form>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th id="addProject">+</th>
                    <th>Name</th>
                    <th>Uml Path</th>
                    <th>Build Path</th>
                    <th>Aktionen</th>
                </tr>
                {{#projects}}
                <tr>
                    <td></td>
                    <td>{{name}}</td>
                    <td>{{umlPath}}</td>
                    <td>{{buildPath}}</td>
                    <td>
                        <a href="index.php?action=edit&id={{getId}}">edit</a>
                        <a href="index.php?action=update&id={{getId}}&build=1" id="updateLink{{getId}}">update & build</a> 
                        <select name="build" id="builds" data-projectid="{{getId}}">
                            {{#Builds}}
                                <option value="{{getId}}">{{getName}}</option>
                            {{/Builds}}
                        </select>
                    </td>
                </tr>
                {{/projects}}
            </thead>
            <tbody>

            </tbody>
        </table>


        <h2>Libaries</h2>
        <div class="add">
            <form method="post">
                <input type="text" name="name" placeholder="Name" />
                <input type="text" name="version" placeholder="Version" />
                <select name="language">
                    {{#languages}}
                    <option value="{{langId}}">{{name}}</option>
                    {{/languages}}
                </select>
                <textarea name="includeCode" placeholder="include Code"></textarea>
                <input type="submit" value="Add" name="addLib" />
            </form>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th id="addProject">+</th>
                    <th>Name</th>
                    <th>Version</th>
                </tr>
            </thead>
            <tbody>

                {{#libs}}
                <tr>
                    <th>{{libId}}</th>
                    <th>{{name}}</th>
                    <th>{{version}}</th>
                </tr>
                {{/libs}}
            </tbody>
        </table>


        <h2>Sprachen</h2>
        <div class="add">
            <form method="post">
                <input type="text" name="name" placeholder="Name" />
                <input type="submit" value="Add" name="addLang" />
            </form>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>+</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>

                {{#languages}}
                <tr>
                    <th>{{langId}}</th>
                    <th>{{name}}</th>
                </tr>
                {{/languages}}
            </tbody>
        </table>
        <script src="//code.jquery.com/jquery.js"></script>
        <div id="errors">[ERRORS]</div>

        <script type="text/javascript">
            $(document).ready(function(){
            $('#builds').change(function(){
                var projId = $(this).data('projectid');
                $('#updateLink'+projId).attr('href', $('#updateLink'+projId).attr('href')+"&build="+$(this).val());
            });
        });
        </script>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="script.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="libs/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript">
            {!{&initJs}!}
        </script>
    </body>
</html>